@import 'theme';
@import 'syntax';

.highlight {
    font-family: "Anka Coder";
    background-color: rgba(255, 255,255, 0.4);
    font-size: 24px;
}

.small-font {
    font-size: 24px;
}

#Cover {
    h2 {
        margin: -33px 0 33px 0;
        font-size: 93px;
        text-align: center;
        color: white;
    }

    img {
        display: block;
        margin: auto;
        width: 80%;
        position: relative;
    }
}


img.fit {
    width: 100%;
}

span.riot {
    overflow: hidden;
}

span.riot img {
    height: 1.1em;
    position: relative;
    top: 2px;
    left: -5px;
}
